details {
	margin-left: 30px;
	border-left: 1px solid var(--border-link-color);
	margin-bottom: 20px;

	&:before {
		content: '▼';
		position: absolute;
		transform: translate(-25px, 10px) rotate(-90deg);
	}

	&[open] {
		&:before {
			content: '▼';
			position: absolute;
			transform: translate(-25px, 7px);
		}
	}

	&>summary {
		/* remove the arrow */
		display: block;

		/* others */
		padding: 10px;
		font-weight: 600;

		&:hover {
			background: var(--details-hover);
			cursor: pointer;
		}
	}

	&[open]>summary {
		background: rgb(80, 0, 64);
		color: rgb(222, 222, 222);
	}

	&>.details-content {
		padding: 20px 20px 0px 20px;
		font-family: Consolas, "Liberation Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, "Courier New", monospace;
	}
}