details {
	border-left: 1px solid var(--border-color);
	margin-bottom: 20px;

	&>summary {
		/* remove the arrow */
		display: block;

		/* others */
		padding: 10px;
		font-weight: 600;

		&:before {
			content: '➤';
			margin-right: 5px;
		}

		&:hover {
			background: var(--details-hover);
			cursor: pointer;
		}
	}

	&[open]>summary {
		background: rgb(80, 0, 64);

		&:before {
			content: '▼';
			margin-right: 5px;
		}
	}

	&>.details-content {
		padding: 20px 20px 0px 20px;
	}
}