body {
	padding: 20px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--foreground-rgb);
	background: linear-gradient(to bottom,
			transparent,
			var(--background-end-rgb)) var(--background-start-rgb);
}

@media screen and (min-width: 600px) {
	main {
		min-width: 600px;
	}

	.column1 {
		float: left;
		width: 30%;
	}

	.column2 {
		float: left;
		width: 70%;
	}
}

/* Responsive layout
	when the screen is less than 600px wide, 
	make the two columns stack on top of each 
	other instead of next to each other 
*/
@media screen and (max-width: 600px) {
	.column1 {
		width: 100%;
	}

	.column2 {
		width: 100%;
	}
}