:root {
	--theme-changer-toggle-width: 200px;
}

.toggleThemeContainer {
	width: var(--theme-changer-toggle-width);
	height:50px;
}

/* hide checkbox */
input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}

/* hide checkbox effect */
input[type="checkbox"]:focus {
	outline: 0;
}

.toggle {
	width: var(--theme-changer-toggle-width);
	position: absolute;
	height: 50px;
	display: inline-block;
	border: 2px solid #000000;
	transition: all .2s ease;
}

/* white circle */
.toggle:after {
	z-index: 2;
	content: '';
	/* must */
	position: absolute;
	top: 2px;
	left: 2px;
	width: 100px;
	height: 42px;
	background: rgba(255, 255, 255, 0.201);
	box-shadow: 0 1px 2px rgba(44, 44, 44, .2);
	transition: all .3s cubic-bezier(.5, .1, .75, 0.5);
}

.toggle:checked {
	border-color: #654FEC;
}

.toggle:checked::after {
	transform: translatex(92px);
}

/* text */
.toggleThemeSpan {
	z-index: 1;
	user-select: none;
	margin-left: 34px;
	margin-top: 10px;
	position: absolute;
}

.toggleThemeSpan::after {
	content: 'Dark';
	margin-left: 60px;
}